.form-group {
  margin-bottom: 12px;
}

input,
select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
}

input {
  background-color: #e5e7eb;
  color:#000;
}

button {
  width: 100%;
  padding: 12px;
  background: #22c55e;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #16a34a;
}